*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    color: white;
}
html, body {
    height: 100%;
}
header{
    background-color: #14213D;
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#menu {
    font-size: 32px;
    cursor: pointer;
    margin-bottom: 0;
}
main{
    background-color: #cccccc;
    height: 85%;
}
#menu{
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 25px;
}
.menubar {
    background-color: #14213D;
    width: 12%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -20%;
    z-index: 1000;
    transition: left 0.4s linear;
    box-shadow: 2px 0 8px rgba(0,0,0,0.5);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.menubar.open {
    left: 0;
}

.content {
    display: flex;
    height: 100%;
}
.welcome {
    flex: 1;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.7);
    animation: welcomeGrow 1s cubic-bezier(.68,-0.55,.27,1.55) forwards;
}
.welcome h2,.welcome p {
    color: #000000;
}

@keyframes welcomeGrow {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    height: 85%;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.menubar h2{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
    margin-top: 0;
}
.vehicle{
    height: 80%;
    width: 20%;
    border: 2px solid black;
}
.hide{
    display: none;
}